@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-style: normal;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #21243d; }

.fixed-navbar {
  background-color: #21243d;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 4rem; }
  .fixed-navbar .menu {
    width: 100%; }
    .fixed-navbar .menu ul {
      padding-left: 5rem;
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: center; }
      .fixed-navbar .menu ul .menu__element {
        font-size: 1.4rem;
        color: #f7f7f7; }
      .fixed-navbar .menu ul .menu__element:not(:last-child),
      .fixed-navbar .menu ul .menu__element:not(:first-child) {
        padding: 0 5rem; }

.main--body {
  display: flex;
  padding: 10rem;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/anh-nen.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .main--body .title-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    color: #eee; }
  .main--body *:not(:last-child) {
    padding-bottom: 4rem; }
  .main--body h1 {
    font-size: 10rem;
    color: #f7f7f7;
    font-weight: 700; }
  .main--body p {
    font-size: 2rem;
    width: 50vw; }
  .main--body .main--body__button button {
    border: none;
    padding: 1.5rem 5.5rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    border-radius: 4rem;
    font-weight: 600;
    color: white;
    background-color: #21243d;
    font-family: "Montserrat", sans-serif;
    cursor: pointer; }

.main--menu {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/design-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem 5rem 0 5rem; }
  .main--menu > :not(:last-child) {
    padding-bottom: 5rem; }
  .main--menu__title {
    font-size: 4rem;
    color: #f7f7f7;
    font-weight: 700; }
  .main--menu__p {
    font-size: 2rem;
    color: #f7f7f7;
    font-weight: 400;
    padding: 0 30%; }
  .main--menu__card {
    display: flex;
    justify-content: center; }
    .main--menu__card .card--element {
      width: 25%;
      padding: 0 4rem; }
      .main--menu__card .card--element > :not(:last-child) {
        padding-bottom: 2rem; }
      .main--menu__card .card--element .card__title {
        font-size: 2.3rem;
        color: #f7f7f7;
        font-weight: 700; }
      .main--menu__card .card--element p {
        font-size: 1rem;
        color: #f7f7f7;
        font-weight: 300; }

.main--character {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/bg-yellow.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 30rem;
  display: flex; }
  .main--character__img, .main--character__text {
    display: inline-block;
    margin-top: 20%; }
  .main--character__img {
    margin-right: 10rem;
    width: 100%; }
    .main--character__img img {
      width: 100%; }
  .main--character__text .title {
    font-size: 4rem;
    color: #21243d;
    font-weight: 700;
    margin-bottom: 3rem; }
  .main--character__text p {
    font-size: 2rem;
    color: #21243d;
    font-weight: 400;
    margin-bottom: 3rem; }
  .main--character__text button {
    border: none;
    padding: 1.5rem 5.5rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    border-radius: 4rem;
    font-weight: 600;
    color: white;
    background-color: #21243d;
    font-family: "Montserrat", sans-serif;
    cursor: pointer; }

.main--subscribe {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/design-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center; }
  .main--subscribe__title {
    font-size: 5rem;
    color: #f7f7f7;
    font-weight: 600;
    margin-bottom: 3rem; }
  .main--subscribe__parph {
    display: flex;
    margin-bottom: 3rem;
    justify-content: center; }
    .main--subscribe__parph p {
      font-size: 1.3rem;
      color: #f7f7f7;
      font-weight: 400;
      max-width: 50%; }
  .main--subscribe__container {
    width: 100rem; }
    .main--subscribe__container .mail-box {
      width: inherit;
      display: flex;
      background: #f7f7f7;
      border-radius: 4rem;
      padding-left: 4rem; }
      .main--subscribe__container .mail-box input,
      .main--subscribe__container .mail-box input:focus,
      .main--subscribe__container .mail-box input:active {
        border: none;
        outline: none; }
      .main--subscribe__container .mail-box input {
        width: inherit;
        font-family: inherit;
        font-size: 2rem;
        color: #21243d;
        font-weight: 500; }
      .main--subscribe__container .mail-box button {
        border: none;
        border: none;
        padding: 1.5rem 5.5rem;
        font-size: 1.7rem;
        text-transform: uppercase;
        border-radius: 4rem;
        font-weight: 600;
        color: white;
        background-color: #21243d;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        background-color: #ffd17e !important;
        color: #21243d; }

footer {
  background-color: #111111;
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  padding-top: 10rem; }
  footer .col-5-2 p {
    max-width: 50%;
    margin-bottom: 2rem !important; }
  footer .col-5-2 .icon {
    display: flex;
    text-align: center;
    flex-direction: row; }
    footer .col-5-2 .icon--element {
      margin-right: 2rem; }
    footer .col-5-2 .icon i {
      font-size: 2rem;
      color: #333;
      font-weight: 500; }
  footer .col-5-1 > :not(:last-child) {
    margin-right: 1rem; }
  footer .title {
    font-size: 1.5rem;
    color: #f7f7f7;
    font-weight: 500;
    margin-bottom: 1rem; }
  footer p {
    font-size: 1rem;
    color: #f7f7f7;
    font-weight: 500;
    margin-bottom: 0.7rem; }
