@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-style: normal;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif; }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 40%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #21243d; }

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  background-color: #21243d; }

nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff; }

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

label {
  z-index: 100; }

input {
  display: none; }

nav .links li {
  list-style: none; }

nav .links a {
  display: block;
  padding: 1em;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none; }

#nav-toggle {
  position: absolute; }

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%); }

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out; }

@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    justify-content: center; }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all .5s ease-in-out; }
  nav .links a {
    font-size: 20px; }
  nav :checked ~ .links {
    bottom: 0; }
  nav .icon-burger {
    display: block; }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg); }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg); }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0; } }

.main--body {
  display: flex;
  padding: 10rem;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/anh-nen.png");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 56.25em) {
    .main--body {
      height: 60vh; } }
  .main--body .title-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    color: #eee; }
  .main--body *:not(:last-child) {
    padding-bottom: 4rem; }
  .main--body h1 {
    font-size: 10rem;
    color: #f7f7f7;
    font-weight: 700; }
  .main--body p {
    font-size: 2rem;
    width: 50vw; }
  .main--body .main--body__button button {
    border: none;
    padding: 1.5rem 5.5rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    border-radius: 4rem;
    font-weight: 600;
    color: white;
    background-color: #21243d;
    font-family: "Montserrat", sans-serif;
    cursor: pointer; }

.main--menu {
  width: 100vw;
  height: 100vh;
  height: 100vh !important;
  background-image: url("../public/design-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem 5rem 0 5rem; }
  @media (max-width: 56.25em) {
    .main--menu {
      height: 60vh; } }
  @media (max-width: 500px) {
    .main--menu {
      padding: 2rem 1rem 0rem 1rem; } }
  .main--menu > :not(:last-child) {
    padding-bottom: 5rem; }
    @media (max-width: 500px) {
      .main--menu > :not(:last-child) {
        padding-bottom: 2rem; } }
  .main--menu__title {
    font-size: 4rem;
    color: #f7f7f7;
    font-weight: 700; }
  .main--menu__p {
    font-size: 2rem;
    color: #f7f7f7;
    font-weight: 400;
    padding: 0 30%; }
    @media (max-width: 500px) {
      .main--menu__p {
        padding: 0 5%; } }
  .main--menu__card {
    height: inherit;
    display: flex;
    text-align: center;
    justify-content: center; }
    @media (max-width: 500px) {
      .main--menu__card {
        flex-direction: column; } }
    .main--menu__card .card--element {
      width: 25%;
      padding: 0 4rem; }
      .main--menu__card .card--element > :not(:last-child) {
        padding-bottom: 2rem; }
      @media (max-width: 56.25em) {
        .main--menu__card .card--element {
          width: 33%; } }
      @media (max-width: 500px) {
        .main--menu__card .card--element {
          width: 100%;
          margin-bottom: 2rem; } }
      @media (max-width: 56.25em) {
        .main--menu__card .card--element img {
          height: 20rem; } }
      .main--menu__card .card--element .card__title {
        font-size: 2.3rem;
        color: #f7f7f7;
        font-weight: 700; }
      .main--menu__card .card--element p {
        font-size: 1rem;
        color: #f7f7f7;
        font-weight: 300; }

.main--character {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/bg-yellow.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20rem;
  display: flex; }
  @media (max-width: 56.25em) {
    .main--character {
      height: 60vh; } }
  @media (max-width: 500px) {
    .main--character {
      padding: 0 3rem; } }
  .main--character__img, .main--character__text {
    display: inline-block;
    margin-top: 20%; }
  .main--character__img {
    margin-right: 10rem;
    width: 100%; }
    @media (max-width: 56.25em) {
      .main--character__img {
        margin-right: 5rem; } }
    .main--character__img img {
      width: 80%; }
      @media (max-width: 56.25em) {
        .main--character__img img {
          width: 100%; } }
  .main--character__text .title {
    font-size: 4rem;
    color: #21243d;
    font-weight: 700;
    margin-bottom: 3rem; }
  .main--character__text p {
    font-size: 2rem;
    color: #21243d;
    font-weight: 400;
    margin-bottom: 3rem; }
  .main--character__text button {
    border: none;
    padding: 1.5rem 5.5rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    border-radius: 4rem;
    font-weight: 600;
    color: white;
    background-color: #21243d;
    font-family: "Montserrat", sans-serif;
    cursor: pointer; }

.main--subscribe {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/design-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center; }
  @media (max-width: 56.25em) {
    .main--subscribe {
      height: 60vh; } }
  .main--subscribe__title {
    font-size: 5rem;
    color: #f7f7f7;
    font-weight: 600;
    margin-bottom: 3rem; }
  .main--subscribe__parph {
    display: flex;
    margin-bottom: 3rem;
    justify-content: center; }
    .main--subscribe__parph p {
      font-size: 1.3rem;
      color: #f7f7f7;
      font-weight: 400;
      max-width: 50%; }
  .main--subscribe__container {
    width: 100rem; }
    @media (max-width: 56.25em) {
      .main--subscribe__container {
        width: 70rem; } }
    @media (max-width: 500px) {
      .main--subscribe__container {
        width: 50rem; } }
    @media (max-width: 300px) {
      .main--subscribe__container {
        width: 30rem; } }
    .main--subscribe__container .mail-box {
      width: inherit;
      display: flex;
      justify-content: space-between;
      background: #f7f7f7;
      border-radius: 4rem;
      padding-left: 4rem; }
      .main--subscribe__container .mail-box input,
      .main--subscribe__container .mail-box input:focus,
      .main--subscribe__container .mail-box input:active {
        border: none;
        outline: none; }
      .main--subscribe__container .mail-box input {
        display: inline-block !important;
        width: inherit;
        font-family: inherit;
        font-size: 2rem;
        color: #21243d;
        font-weight: 500; }
      .main--subscribe__container .mail-box button {
        border: none;
        border: none;
        padding: 1.5rem 5.5rem;
        font-size: 1.7rem;
        text-transform: uppercase;
        border-radius: 4rem;
        font-weight: 600;
        color: white;
        background-color: #21243d;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        background-color: #ffd17e !important;
        color: #21243d; }

footer {
  background-color: #111111;
  display: flex;
  width: 100vw;
  height: 40vh;
  justify-content: center;
  padding-top: 10rem; }
  @media (max-width: 500px) {
    footer {
      padding: 1rem 1rem 1rem 1rem; } }
  footer .col-5-2 p {
    max-width: 50%;
    margin-bottom: 2rem !important; }
  footer .col-5-2 .icon {
    display: flex;
    text-align: center;
    flex-direction: row; }
    footer .col-5-2 .icon--element {
      margin-right: 2rem; }
    footer .col-5-2 .icon i {
      font-size: 2rem;
      color: #333;
      font-weight: 500; }
      @media (max-width: 500px) {
        footer .col-5-2 .icon i {
          font-size: 4rem; } }
  footer .col-5-1 > :not(:last-child) {
    margin-right: 1rem; }
  footer .title {
    font-size: 1.5rem;
    color: #f7f7f7;
    font-weight: 500;
    margin-bottom: 1rem; }
    @media (max-width: 500px) {
      footer .title {
        font-size: 2rem; } }
  footer p {
    font-size: 1rem;
    color: #f7f7f7;
    font-weight: 500;
    margin-bottom: 0.7rem; }
    @media (max-width: 500px) {
      footer p {
        font-size: 1.5rem; } }
