@mixin respond ($beakpoint) {
  @if $beakpoint == phone {
      @media (max-width : 800px) {@content}
  }
  @if $beakpoint == tab-port {
      @media (max-width : 56.25em) {@content}
  }
  @if $beakpoint == tab-land {
      @media (max-width : 75em) {@content}
  }
  @if $beakpoint == big-desktop {
      @media (min-width : 112.5em) {@content}
  }
}

@mixin respondPx ($pixel) {
  @media (max-width : $pixel) {@content}
}

@mixin button {
  border: none;
  padding: 1.5rem 5.5rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  border-radius: 4rem;
  font-weight: 600;
  color: white;
  background-color: $color-main;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

@mixin h-w-100 {
  width: 100vw;
  height: 100vh;
  @include respond ('tab-port') {
    height: 60vh ;
  }
}

@mixin title ($fontsize , $color  , $font-weight) {
  font-size: $fontsize;
  color: $color;
  font-weight: $font-weight;
}


@mixin background ($url){
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover; 
}