.main--menu {
    @include h-w-100;
    @include background('../public/design-background.png');
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem 5rem 0 5rem;

    > :not(:last-child) {
        padding-bottom: 5rem;
    }
    &__title {
        @include title (4rem , $color-grey-light-1 , 700);
    }

    &__p {
        @include title (2rem , $color-grey-light-1 , 400);
        padding : 0 30%
    }

    &__card {
        display: flex;
        justify-content: center;
        .card--element {
            width: 25%;
            padding: 0 4rem;
            > :not(:last-child) {
                padding-bottom: 2rem;
            }
            
        .card__title {
            @include title (2.3rem , $color-grey-light-1 , 700)
        }

        p {
            @include title (1rem , $color-grey-light-1 , 300)
        }
        }
    }
}