.main--menu {
  @include h-w-100;
  height: 100vh !important;
  @include background("../public/design-background.png");
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem 5rem 0 5rem;
  @include respondPx(500px) {
    padding: 2rem 1rem 0rem 1rem;
  }
  > :not(:last-child) {
    padding-bottom: 5rem;
    @include respondPx(500px) {
      padding-bottom: 2rem
    }
  }
  &__title {
    @include title(4rem, $color-grey-light-1, 700);
  }

  &__p {
    @include title(2rem, $color-grey-light-1, 400);
    padding: 0 30%;
    @include respondPx ( 500px) {
      padding: 0 5%;
    }
  }

  &__card {
    height: inherit;
    display: flex;
    text-align: center;
    justify-content: center;
    @include respondPx(500px) {
      flex-direction: column;
    }
    .card--element {
      width: 25%;
      padding: 0 4rem;
      > :not(:last-child) {
        padding-bottom: 2rem;
      }
      @include respond("tab-port") {
        width: 33%;
      }
      @include respondPx ( 500px) {
        width: 100%;
        margin-bottom: 2rem;
      }

      img {
        @include respond("tab-port") {
          height: 20rem;
        }
      }

      .card__title {
        @include title(2.3rem, $color-grey-light-1, 700);
      }

      p {
        @include title(1rem, $color-grey-light-1, 300);
      }
    }
  }
}
