.main--character {
    @include h-w-100;
    @include background ('../public/bg-yellow.png');
    padding: 0 20rem;
    @include respondPx ( 500px) {
        padding: 0 3rem;
    }
    display: flex;
 &__img , &__text {
    display: inline-block;
    margin-top: 20%;
 }

 &__img {
    margin-right: 10rem;
    width: 100%;
    @include respond('tab-port') {
        margin-right: 5rem;
    }

    @include respondPx ( 500px) {
    }
    img {
        width:80%;
        @include respond('tab-port') {
            width: 100%;
        }
    }
 }

 &__text {
    .title {
        @include title(4rem , $color-main , 700);
        margin-bottom: 3rem;
    }
    p {
        @include title(2rem , $color-main ,400);
        margin-bottom: 3rem;
    }

    button {
        @include button
    }
 }
}